@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins/Poppins-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url(../fonts/LibreBaskerville/LibreBaskerville-Bold.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Libre Baskerville', serif;
  src: url(../fonts/LibreBaskerville/LibreBaskerville-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Sacramento', cursive;
  src: url(../fonts/Sacramento/Sacramento-Regular.ttf);
  font-weight: normal;
}