@import "header";
@import "banner";
@import "about";
@import "focus";
@import "portfolio";
@import "team";
@import "skillPoints";
@import "step";
@import "price";
@import "testimonials";
@import "whySelect";
@import "blog";
@import "subscribe";
@import "form";
@import "footer";
@import "fonts";
@import "mobile";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
h2 {
  font-size: 50px !important;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  margin: 0;
}